@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: rgb(246, 246, 246);
    --gray: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* Utility stylings */
img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    opacity: 0.9;
}
.md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm-title{
    font-weight: 450;
    font-size: 1rem;
    text-transform: uppercase;

}
.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

/* product section */
.products{
    background: var(--alice-blue);
    padding-bottom: 3.2rem;
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
}
.product-content{
    vertical-align: middle;
    background: var(--gray);
    padding: 4rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}
.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 40%;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: aqua;
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: aqua;
    color: #fff;
}
.product-info{
    background: white;
    padding: 2rem;
    padding-top: 0px;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: aqua;
}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type{
    text-decoration: line-through;
    color: aqua;
}

.product-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img img{
    margin-top: 50px;

    transition: transform 0.6s ease;
    -webkit-transition: transform 0.6s ease;
    -moz-transition: transform 0.6s ease;
    -ms-transition: transform 0.6s ease;
    -o-transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.product:hover .product-img{
    background-image: url('../../../Assets/img/image.png');
}
.product:hover .product-btns{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.off-info .sm-title{
    background: aqua;
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
}

/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}

#cargando{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.icono{
    /* centrar */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    border: 10px solid rgba(238, 238, 238, 0.618);
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes girar {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}


/* //////////////////////////////// */

.cart {
    width: 200px;
    border: 1px solid aqua; 
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 50%;
    background: white;
    z-index: 9999;
    border-right: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    padding-right: 30px;
}

.cart th{
    text-align: inherit;
    padding: 2px;
}

.cart td{
    text-align:end;
    padding: 2px;
}



.cart button{
    width: 100%;
    padding: 5px;
    border: 1px solid aqua;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.cart button:hover{
    background: aqua;
    color: black;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
}