@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  scroll-behavior: smooth;   /* for smooth scrolling */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;   /* Firefox */
  -ms-user-select: none;   /* IE10+/Edge */
  user-select: none;   /* Standard */
}

* {
  font-weight: bold; /* for bold text */
  margin: 0;      /* for removing default margin */
  padding: 0;   /* for removing default padding */
  box-sizing: border-box;  /* for removing default border */
}

body { 
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;  /* deshabilita  el desplazamiento horizontal */
  z-index: 1;
}

.wrapper{ 
  width: 100vw;
  background-color: #000;
  color: #ffff;
}

.navbar { /* navegador */
  background-color: #000;
  z-index: 2; /* para que se ponga encima de todo */
  display: flex; /* para que se puedan juntar los elementos */
  justify-content: space-between;  /* alineacion de los elementos */
  padding: 2em;  /* espacio entre los elementos */
  padding-bottom: 1em; /* espacio entre los elementos */
  position: sticky; /* para que se mantenga en la parte superior */
  top: 0;
}

.brand{ /* logo */
    padding-left: 3px;
    padding-right: 3px;
    border: solid 1px #fff; /* para que se vea bordes */
    margin-top: -15px;
    font-size: 2.1em; /* para que se vea mas grande */
    box-sizing: border-box;
}
.brand a{
    color: #fff;
    text-decoration: none;
  }

.brand:hover{
    color: #fff;
    background-image: linear-gradient(0deg, aqua 6%, black 6%);


}

.brand h2 #fake:hover{
    color: aqua;
}

.menu {
  /*menu*/display: flex;
  width: 50%; 
  justify-content: space-around;
}

.menu li { /* menu list */
  list-style: none;  /* Quita estilo de lista */
}

.menu a {
  /*menulinks*/color: #ffff;
  text-decoration: none;
  font-size: 1.7em;
  /*Quitasubrayado*/padding: 10px 20px;
  transition: ease-in-out .4s;
  -webkit-transition: ease-in-out .4s;
  -moz-transition: ease-in-out .4s;
  -ms-transition: ease-in-out .4s;
  -o-transition: ease-in-out .4s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.menu .active { /* menu links - activo */
  color: aqua;
}

.menu a:hover{
  /*menulinkshover*/background-color: aqua;
  color: #000;
  font-size: 1.8em;
  border-radius: 5%;
  transition: ease-out .3s;
  /*transicion*/-webkit-transition: ease-in .3s;
  -moz-transition: ease-out .3s;
  -ms-transition: ease-out .3s;
  -o-transition: ease-out .3s;
  -webkit-transition: ease-out .3s;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.main{
  margin: 0 auto; /* centra el contenido */
  width: 85vw;
  height: 50vh auto;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); /* repite 2 columnas */
  align-items: center;
  font-weight: bold;
  margin-top: 5em;
}

#store{
  color: aqua;
}

.about{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* repite 10 columnas */
    width: 100vw;
    align-items: center; /* alinea los elementos */
  }
  
.about img{
    width: 100%;
    grid-column: 1/5; /* columna 1 a 5 */
  }
  .about img:hover{
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
}
  
  .about-info{
    grid-column: 5/10; /* columna 5 a 10 */
    padding: 6em;
  }
  
  .about-info h2{
    font-size: 3.5em;
    color: #000;
    display: inline-block; /* para que se pueda alinear */
    position: relative;
    margin-bottom: 0.5em;
  }
  
  .about-info h2:after{
    content: '';
    position: absolute;
    width: 20%;
    height: 4px;
    background-color: aqua;
    bottom: -8px; 
    left: 0; /* para que se ponga al lado izquierdo */
    transition: .6s ease-out;
    -webkit-transition: .6s ease-out;
    -moz-transition: .6s ease-out;
    -ms-transition: .6s ease-out;
    -o-transition: .6s ease-out;
  }
  
  .about-info h2:hover:after{
    width: 110%;
    transition: .3s ease-in-out;
    transform-origin: bottom left;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
  }
  
  .about p{
    font-size: 1.2em;
    margin-bottom: 1em;
    color: black;
  }
  

/*-----------------------------------------------------*/
.footer{ /* pie de pagina */
    background-color: rgba(0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 200px;
    
  }
  
  .footer-content h2{
    /*titulo*/font-size: 3em;
    color: #fff;
}
.footer-content h2:hover{
    color: aqua;

}
.footer-content h4, .sotial-network i{
    font-size: 1.5em;
}

.sotial-network{ /* redes sociales */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin-top: 1.5em;
  }

  .sotial-network a{
    color: #fff;
    text-decoration: none;
}
    .sotial-network a:hover{
        color: aqua;
}

#gif{
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
   
    
}

